@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.App {
  max-width: 680px;
  margin: auto;
  overflow: hidden;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* MENU */

header {
  position: fixed;
  width: 100%;
  max-width: 680px;
  text-align: right;
}
ul.nav {
  display: inline-flex;
  list-style-type: none;
}
ul.nav li a {
  color: #00229a;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;

  text-decoration: none;
}
ul.nav li {
  background: #d9deee;
  padding: 10px;
  margin-right: 10px;
}
ul.nav li.hamburger {
  background-color: #00229a;
  padding: 10px 15px;
}
/* Position and sizing of burger button */
.bm-burger-button {
     position: relative;
    width: 16px;
    height: 14px;
    margin: auto;
    top: 3px;
}
span.bm-burger-bars {
  height: 2.5px !important;
  border-radius: 3px;
}
ul.bm-item.nav {
  display: inline-flex!important;
    /* max-width: 20%; */
    margin-top: 0px;
    position: absolute;
    top: 20px;
    right: 15%;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 34px;
  width: 34px;
  background-color: white;
  padding: 13px 11px 5px 11px;
  top: 20px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}
span.bm-cross {
  height: 24px;
  width: 4px;
  background: #00229a;
  z-index: 99999;
  border-radius: 3px;
}
div.bm-cross-button span {
  position: absolute;
  top: 30% !important;
  right: 50% !important;
}
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100% !important;

  left: 0px;
  top: 0px;
}
ul.nav li a.menu-item {
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  padding-top: 18px;
}
/* General sidebar styles */
.bm-menu {
  background: #00229a;
  padding: 3.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: #00229a;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-left: 20px;
}

h2 {
  color: #00229a;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
  max-width: 326px;
}

h3 {
  color: #00229a;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
  margin-top: 45px;
  max-width: 240px;
  z-index: 5;
}

.bodyM {
  color: #00229a;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
  max-width: 80%;
}
.bodyS {
  color: #00229a;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  margin-left: 20px;
  text-align: left;
  width: 80%;
  max-width: 80%;
}
strong {
  color: #00229a;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
}
hr {
  width: 40%;
  text-align: left;
  margin-left: 20px;
  color: #00229a;
  border-top: 1px;
}

section {
  background-color: #efefef;
  margin-right: -30px;
}

.button {
  background-color: #00229a;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  margin-left: 20px;
  padding: 10px 30px 10px 30px;
  border: none;
}
